<h1>To Do App</h1>
<hr />
<h2>Adicionar Tarefa</h2>
<form (submit)="createTodo()">
  <input type="text" [(ngModel)]="createNome" name="nome" #ctrl="ngModel" />
  <input type="text" [(ngModel)]="createInicio" name="inicio" #ctrl="ngModel" />
  <input type="text" [(ngModel)]="createFim" name="fim" #ctrl="ngModel" />
  <input type="text" [(ngModel)]="createStatus" name="status" #ctrl="ngModel" />
  <input type="submit" value="Criar" />
</form>
<hr />
<h2>Editar Tarafe</h2>
<form (submit)="updateTodo()">
  <input type="text" [(ngModel)]="editTitle" name="nome" #ctrl="ngModel" />
  <input type="text" [(ngModel)]="editInicio" name="inicio" #ctrl="ngModel" />
  <input type="text" [(ngModel)]="editFim" name="fim" #ctrl="ngModel" />
  <input type="text" [(ngModel)]="editStatus" name="status" #ctrl="ngModel" />
  <input type="submit" value="Editar Tarefa" />
</form>
<hr />
<h2>Lista de Tarefas</h2>
<ul>
  <li *ngFor="let todo of todos">
    <h3>{{ todo.name }}</h3>
    <h4>{{ todo.inicio }}</h4>
    <h4>{{ todo.fim }}</h4>
    <h4>{{ todo.status }}</h4>
    <button (click)="updateTodo(todo)">Editar</button>
    <button (click)="deleteTodo(todo)">Excluir</button>
  </li>
</ul>